@import "~@opuscapita/oc-cm-common-styles/styles/colors";
$oc-color-button-disabled: #f0f0f0 !default;

.oc-list-items {
  display: flex;
  flex-direction: row;

  .oc-list-items-icon {
    align-items: center;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;

    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;

    &[disabled] {
      color: $oc-color-button-disabled;
      cursor: auto;
    }
  }

  span.oc-list-items-element {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;

    input {
      border: 1px solid $oc-color-support-lightgray;
      margin-right: 1px;
      padding: 0;
      text-align: center;
      line-height: normal;
      outline: 0;
      &:focus {
        border-color: $oc-color-primary-yellow;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(254, 202, 29, 0.6);
      }
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
      }
      &[type=number] {
          -moz-appearance:textfield; /* Firefox */
      }
    }
  }
}
